<nav>
  <div class="nav-logo">JustAnotherBlog</div>
  <ul class="nav-ul">
    <li><a href="/">Home</a></li>
    <li><a href="/blogs">Read</a></li>
    <li><a href="form">Write</a></li>
    <li><a href="about">About</a></li>
  </ul>
</nav>
