<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="blogContainer">
        <h1 class="">What others have to say..</h1>
        <div class="blog">
            <h2 class="text-title">Title</h1>
            <p class="text-body">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus accusamus, corrupti, voluptas molestiae minus dolorem ipsa error maxime nemo voluptate ullam quidem voluptates quia, illum perferendis doloribus provident asperiores quisquam?
            </p>
            <h2 class="text-title">Title</h1>
            <p class="text-body">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus accusamus, corrupti, voluptas molestiae minus dolorem ipsa error maxime nemo voluptate ullam quidem voluptates quia, illum perferendis doloribus provident asperiores quisquam?
            </p>
        </div>
    </div>
</body>
</html>