@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap:1rem
}